@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/cat.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
            background-color: #f0f4f8;
            margin: 0;
            padding: 0;
        }
        button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 12px 25px;
            font-size: 1rem;
            border-radius: 20px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

    </style>
</head>

<body>
    <svg width="784" height="477" viewBox="0 0 667 377" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="OBJECTS">
            <g id="Group">
                <path id="Vector" d="M485.123 204.199L177.783 198.423L181.376 23.431L233.049 0L489.217 4.81384L485.123 204.199Z" fill="#F0F0F0" />
                <path id="Vector_2" d="M487.199 201.33H179.801V27.5797L234.91 1.90691H487.199V201.33Z" fill="#CAE2FC" />
                <path id="Vector_3" d="M466.549 186.552L197.413 183.215L201.503 27.3743L221.492 13.8064L469.587 17.2537L466.549 186.552Z" fill="#A9D1FC" />
                <path id="Vector_4" d="M469.587 183.215H197.413V30.5419L213.856 17.2537H469.587V183.215Z" fill="white" />
                <path id="Vector_5" opacity="0.1" d="M179.801 27.5797L202.046 41.323C203.076 41.9596 204.445 41.7163 205.17 40.77L234.91 1.90533L179.801 27.5797Z" fill="black" />
                <path id="Vector_6" d="M179.801 27.5797L201.828 36.7887C203.326 37.4144 205.078 37.0084 206.108 35.795L234.91 1.90691L179.801 27.5797Z" fill="#A9D1FC" />
                <path id="404" d="M235.768 113.156L270.808 64.0038H279.928V112.868C282.232 112.804 284.12 112.644 285.592 112.388C287.064 112.068 288.216 111.588 289.048 110.948C289.88 110.244 290.456 109.316 290.776 108.164C291.096 107.012 291.256 105.508 291.256 103.652H294.808V126.98H291.256C291.256 125.252 291.096 123.844 290.776 122.756C290.456 121.668 289.88 120.836 289.048 120.26C288.216 119.62 287.064 119.204 285.592 119.012C284.12 118.756 282.232 118.596 279.928 118.532V121.508C279.928 123.748 280.024 125.7 280.216 127.364C280.472 129.028 280.92 130.436 281.56 131.588C282.2 132.676 283.096 133.508 284.248 134.084C285.464 134.66 287 134.98 288.856 135.044V138.884H255.928V135.044C258.168 134.98 259.96 134.66 261.304 134.084C262.712 133.444 263.768 132.58 264.472 131.492C265.24 130.404 265.752 129.092 266.008 127.556C266.264 126.02 266.392 124.228 266.392 122.18V118.916H235.768V113.156ZM266.392 81.7638H266.008L243.928 112.868H266.392V81.7638ZM334.75 64.0038C339.166 64.0038 343.294 64.9958 347.134 66.9798C351.038 68.9638 354.43 71.6838 357.31 75.1398C360.19 78.5958 362.462 82.6598 364.126 87.3318C365.854 92.0038 366.718 97.0598 366.718 102.5C366.718 107.684 365.854 112.548 364.126 117.092C362.462 121.636 360.19 125.604 357.31 128.996C354.43 132.324 351.038 134.98 347.134 136.964C343.294 138.884 339.166 139.844 334.75 139.844C330.398 139.844 326.302 138.884 322.462 136.964C318.686 134.98 315.358 132.324 312.478 128.996C309.662 125.604 307.422 121.636 305.758 117.092C304.094 112.548 303.262 107.684 303.262 102.5C303.262 97.0598 304.094 92.0038 305.758 87.3318C307.422 82.6598 309.662 78.5958 312.478 75.1398C315.358 71.6838 318.686 68.9638 322.462 66.9798C326.302 64.9958 330.398 64.0038 334.75 64.0038ZM334.75 134.276C337.054 134.276 339.102 133.796 340.894 132.836C342.75 131.812 344.318 130.084 345.598 127.652C346.878 125.22 347.838 121.988 348.478 117.956C349.182 113.924 349.534 108.868 349.534 102.788C349.534 96.4518 349.182 91.1718 348.478 86.9478C347.838 82.6598 346.878 79.2358 345.598 76.6758C344.318 74.1158 342.75 72.2918 340.894 71.2038C339.102 70.1158 337.054 69.5718 334.75 69.5718C332.446 69.5718 330.366 70.1158 328.51 71.2038C326.718 72.2918 325.182 74.1158 323.902 76.6758C322.622 79.2358 321.63 82.6598 320.926 86.9478C320.286 91.1718 319.966 96.4518 319.966 102.788C319.966 108.868 320.286 113.924 320.926 117.956C321.63 121.988 322.622 125.22 323.902 127.652C325.182 130.084 326.718 131.812 328.51 132.836C330.366 133.796 332.446 134.276 334.75 134.276ZM371.987 113.156L407.027 64.0038H416.147V112.868C418.451 112.804 420.339 112.644 421.811 112.388C423.283 112.068 424.435 111.588 425.267 110.948C426.099 110.244 426.675 109.316 426.995 108.164C427.315 107.012 427.475 105.508 427.475 103.652H431.027V126.98H427.475C427.475 125.252 427.315 123.844 426.995 122.756C426.675 121.668 426.099 120.836 425.267 120.26C424.435 119.62 423.283 119.204 421.811 119.012C420.339 118.756 418.451 118.596 416.147 118.532V121.508C416.147 123.748 416.243 125.7 416.435 127.364C416.691 129.028 417.139 130.436 417.779 131.588C418.419 132.676 419.315 133.508 420.467 134.084C421.683 134.66 423.219 134.98 425.075 135.044V138.884H392.147V135.044C394.387 134.98 396.179 134.66 397.523 134.084C398.931 133.444 399.987 132.58 400.691 131.492C401.459 130.404 401.971 129.092 402.227 127.556C402.483 126.02 402.611 124.228 402.611 122.18V118.916H371.987V113.156ZM402.611 81.7638H402.227L380.147 112.868H402.611V81.7638Z" fill="#FF765E" />
                <g id="Group_2">
                    <path id="Vector_7" opacity="0.1" d="M470.963 23.4089C473.87 23.4089 476.227 21.1539 476.227 18.3723C476.227 15.5906 473.87 13.3356 470.963 13.3356C468.055 13.3356 465.699 15.5906 465.699 18.3723C465.699 21.1539 468.055 23.4089 470.963 23.4089Z" fill="black" />
                    <path id="Vector_8" d="M470.48 22.2903C473.388 22.2903 475.744 20.0353 475.744 17.2537C475.744 14.4721 473.388 12.2171 470.48 12.2171C467.573 12.2171 465.216 14.4721 465.216 17.2537C465.216 20.0353 467.573 22.2903 470.48 22.2903Z" fill="#66A1E3" />
                    <path id="Vector_9" d="M473.448 17.2537C473.448 18.8209 472.118 20.0927 470.48 20.0927C468.842 20.0927 467.513 18.8225 467.513 17.2537C467.513 15.6849 468.841 14.4147 470.48 14.4147C472.118 14.4147 473.448 15.6849 473.448 17.2537Z" fill="#78B3F5" />
                    <g id="Group_3">
                        <path id="Vector_10" d="M470.789 14.7354C471.56 14.7354 472.257 15.0245 472.784 15.4859C472.241 14.8381 471.415 14.4147 470.479 14.4147C468.841 14.4147 467.512 15.6849 467.512 17.2537C467.512 18.0831 467.89 18.8225 468.484 19.3423C468.076 18.8557 467.822 18.2475 467.822 17.5744C467.824 16.0072 469.151 14.7354 470.789 14.7354Z" fill="#A8D1FF" />
                    </g>
                </g>
                <g id="Group_4">
                    <path id="Vector_11" opacity="0.1" d="M473.689 195.158C476.596 195.158 478.953 192.903 478.953 190.121C478.953 187.339 476.596 185.084 473.689 185.084C470.782 185.084 468.425 187.339 468.425 190.121C468.425 192.903 470.782 195.158 473.689 195.158Z" fill="black" />
                    <path id="Vector_12" d="M473.207 194.039C476.114 194.039 478.471 191.784 478.471 189.002C478.471 186.221 476.114 183.966 473.207 183.966C470.299 183.966 467.943 186.221 467.943 189.002C467.943 191.784 470.299 194.039 473.207 194.039Z" fill="#66A1E3" />
                    <path id="Vector_13" d="M476.174 189.002C476.174 190.57 474.845 191.841 473.207 191.841C471.569 191.841 470.239 190.571 470.239 189.002C470.239 187.435 471.569 186.163 473.207 186.163C474.845 186.163 476.174 187.434 476.174 189.002Z" fill="#78B3F5" />
                    <g id="Group_5">
                        <path id="Vector_14" d="M473.517 186.484C474.288 186.484 474.985 186.773 475.512 187.235C474.968 186.587 474.143 186.163 473.207 186.163C471.567 186.163 470.239 187.435 470.239 189.002C470.239 189.832 470.617 190.571 471.212 191.091C470.804 190.604 470.55 189.996 470.55 189.323C470.55 187.756 471.877 186.484 473.517 186.484Z" fill="#A8D1FF" />
                    </g>
                </g>
                <g id="Group_6">
                    <path id="Vector_15" opacity="0.1" d="M197.654 189.562C200.561 189.562 202.918 187.307 202.918 184.525C202.918 181.743 200.561 179.488 197.654 179.488C194.747 179.488 192.39 181.743 192.39 184.525C192.39 187.307 194.747 189.562 197.654 189.562Z" fill="black" />
                    <path id="Vector_16" d="M197.173 188.442C200.08 188.442 202.436 186.187 202.436 183.407C202.436 180.626 200.08 178.372 197.173 178.372C194.267 178.372 191.911 180.626 191.911 183.407C191.911 186.187 194.267 188.442 197.173 188.442Z" fill="#66A1E3" />
                    <path id="Vector_17" d="M200.139 183.407C200.139 184.974 198.81 186.246 197.172 186.246C195.534 186.246 194.205 184.975 194.205 183.407C194.205 181.838 195.534 180.568 197.172 180.568C198.811 180.568 200.139 181.839 200.139 183.407Z" fill="#78B3F5" />
                    <g id="Group_7">
                        <path id="Vector_18" d="M197.482 180.888C198.253 180.888 198.95 181.177 199.477 181.639C198.934 180.991 198.108 180.568 197.172 180.568C195.534 180.568 194.205 181.838 194.205 183.407C194.205 184.236 194.583 184.975 195.177 185.495C194.769 185.009 194.515 184.4 194.515 183.727C194.515 182.16 195.844 180.888 197.482 180.888Z" fill="#A8D1FF" />
                    </g>
                </g>
            </g>
            <path id="Vector_19" d="M667 296.446H0V325.103H667V296.446Z" fill="url(#paint0_radial_0_6)" />
            <g id="Group_8">
                <g id="right-small-cactus">
                    <g id="Group_9">
                        <path id="Vector_20" d="M145.77 270.459C145.77 270.459 142.126 228.474 148.626 218.922C154.675 210.034 170.985 214.372 167.782 228.695C165.7 238.007 156.301 269.34 156.301 269.34L145.77 270.459Z" fill="url(#paint1_linear_0_6)" />
                        <g id="Group_10">
                            <path id="Vector_21" d="M152.211 219.863C154.554 216.419 158.439 214.968 162.133 215.308C157.632 213.271 151.757 214.321 148.626 218.921C142.127 228.473 145.77 270.458 145.77 270.458L149.25 270.088C148.702 262.96 146.389 228.418 152.211 219.863Z" fill="#ADE68F" />
                        </g>
                    </g>
                    <path id="Vector_22" d="M152.107 216.895L150.288 213.462" stroke="#88BD6D" stroke-width="0.6537" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_23" d="M158.978 215.745L159.339 211.91" stroke="#88BD6D" stroke-width="0.6537" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_24" d="M164.384 218.644L166.225 215.22" stroke="#88BD6D" stroke-width="0.6537" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_25" d="M166.856 223.241L169.735 220.552" stroke="#88BD6D" stroke-width="0.6537" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_26" d="M163.367 237.005L167.234 238.065" stroke="#88BD6D" stroke-width="0.6537" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_27" d="M162.107 243.522L165.929 242.323" stroke="#88BD6D" stroke-width="0.6537" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_28" d="M161.012 247.778L163.745 248.166" stroke="#88BD6D" stroke-width="0.6537" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_29" d="M166.684 228.012L169.818 226.501" stroke="#88BD6D" stroke-width="0.6537" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_30" d="M164.922 232.767L168.431 232.713" stroke="#88BD6D" stroke-width="0.6537" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_31" d="M150.149 220.838L146.808 218.693" stroke="#88BD6D" stroke-width="0.6537" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <g id="left-cactus">
                    <g id="Group_11">
                        <path id="Vector_32" d="M134.084 264.95C134.084 264.95 116.722 219.56 120.88 207.103C124.748 195.511 144.171 195.57 145.175 212.347C145.828 223.254 145.38 260.651 145.38 260.651L134.084 264.95Z" fill="url(#paint2_linear_0_6)" />
                        <g id="Group_12">
                            <path id="Vector_33" d="M125.145 207.102C126.644 202.611 130.481 199.878 134.675 199.179C129.05 198.235 122.883 201.102 120.88 207.102C116.722 219.56 134.084 264.949 134.084 264.949L137.818 263.529C134.948 255.802 121.421 218.258 125.145 207.102Z" fill="#ADE68F" />
                        </g>
                    </g>
                    <path id="Vector_34" d="M123.338 223.941H119.486" stroke="#88BD6D" stroke-width="0.75" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_35" d="M124.834 231.592L120.236 231.971" stroke="#88BD6D" stroke-width="0.75" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_36" d="M126.987 238.653L122.683 240.245" stroke="#88BD6D" stroke-width="0.75" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_37" d="M124.086 203.848L120.984 200.578" stroke="#88BD6D" stroke-width="0.75" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_38" d="M131.321 200.578L130.506 196.232" stroke="#88BD6D" stroke-width="0.75" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_39" d="M138.225 202.213L139.173 197.891" stroke="#88BD6D" stroke-width="0.75" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_40" d="M142.418 206.582L144.751 202.771" stroke="#88BD6D" stroke-width="0.75" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_41" d="M142.93 222.823L147.545 222.872" stroke="#88BD6D" stroke-width="0.75" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_42" d="M143.605 230.4L147.454 227.962" stroke="#88BD6D" stroke-width="0.75" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_43" d="M143.745 235.426L146.893 235.062" stroke="#88BD6D" stroke-width="0.75" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_44" d="M143.745 211.91L146.731 209.327" stroke="#88BD6D" stroke-width="0.75" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_45" d="M143.306 217.683L147.17 216.603" stroke="#88BD6D" stroke-width="0.75" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_46" d="M123.171 208.781L118.796 207.378" stroke="#88BD6D" stroke-width="0.75" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_47" d="M122.532 214.536L117.94 214.987" stroke="#88BD6D" stroke-width="0.75" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_48" d="M127.83 209.49C128.295 209.49 128.672 209.129 128.672 208.684C128.672 208.239 128.295 207.879 127.83 207.879C127.364 207.879 126.987 208.239 126.987 208.684C126.987 209.129 127.364 209.49 127.83 209.49Z" fill="#88BD6D" />
                    <path id="Vector_49" d="M136.13 212.451C136.13 213.195 135.499 213.797 134.723 213.797C133.947 213.797 133.316 213.195 133.316 212.451C133.316 211.707 133.947 211.105 134.723 211.105C135.501 211.105 136.13 211.708 136.13 212.451Z" fill="#88BD6D" />
                    <path id="Vector_50" d="M141.381 226.786C140.481 227.959 138.759 228.212 137.534 227.35C136.308 226.489 136.044 224.842 136.944 223.669C137.844 222.497 139.566 222.244 140.791 223.105C142.017 223.966 142.281 225.614 141.381 226.786Z" fill="#88BD6D" />
                    <path id="Vector_51" d="M136.353 237.16C135.721 237.985 134.657 238.267 133.98 237.792C133.303 237.316 133.267 236.261 133.899 235.436C134.532 234.612 135.595 234.329 136.272 234.804C136.949 235.28 136.985 236.335 136.353 237.16Z" fill="#88BD6D" />
                    <path id="Vector_52" d="M131.707 218.901C132.37 218.901 132.907 218.387 132.907 217.753C132.907 217.118 132.37 216.604 131.707 216.604C131.044 216.604 130.506 217.118 130.506 217.753C130.506 218.387 131.044 218.901 131.707 218.901Z" fill="#88BD6D" />
                </g>
                <g id="flower-pot">
                    <path id="Vector_53" d="M120.236 257.017L124.293 300.55H130.346L129.918 298.283H140.882L141.09 300.55H150.463L150.968 298.283H159.562L159.437 300.55H164.911L168.968 257.017H120.236Z" fill="#A87C56" />
                    <path id="Vector_54" d="M128.464 257.017H120.236L124.293 300.55H130.346L129.918 298.283H133.067L128.464 257.017Z" fill="#BA8A60" />
                    <path id="Vector_55" d="M120.667 261.643L168.282 264.367L168.968 257.017H120.236L120.667 261.643Z" fill="url(#paint3_linear_0_6)" />
                    <path id="Vector_56" d="M169.681 260.757L170.419 252.832H118.784L119.522 260.757H169.681Z" fill="#D68E4F" />
                    <path id="Vector_57" d="M126.906 252.832H118.784L119.522 260.757H127.892L126.906 252.832Z" fill="#E3A874" />
                </g>
            </g>
            <g id="Group_13">
                <g id="cat-tail">
                    <path id="cat-tail_2" d="M481.256 376.714C461.917 378.146 443.191 370.472 430.563 355.427C427.424 351.689 428.05 346.224 431.956 343.221C435.858 340.219 441.575 340.812 444.713 344.554C457.205 359.432 475.049 361.32 487.567 358.138C501.109 354.692 510.365 345.532 512.333 333.631C515.477 314.622 505.46 299.734 496.621 286.597C491.682 279.262 487.42 272.925 485.876 266.41C484.77 261.733 487.831 257.084 492.721 256.022C497.61 254.963 502.468 257.894 503.576 262.57C504.413 266.1 508.04 271.49 511.878 277.197C521.417 291.376 534.481 310.793 530.256 336.344C527.179 354.953 512.606 369.733 492.23 374.918C488.576 375.85 484.904 376.444 481.256 376.714Z" fill="url(#paint4_linear_0_6)" />
                </g>
                <path id="cat-stomach" d="M497.159 229.49C476.217 195.129 422.226 193.876 397.357 203.269C372.488 212.661 338.004 225.971 330.709 225.497C297.555 223.342 254.13 259.624 254.13 259.624C254.13 259.624 238.328 269.016 238.328 281.853C238.328 294.689 246.046 298.133 254.13 298.133C259.13 298.133 336.609 298.133 400.361 298.133C395.828 299.952 391.421 302.344 392.284 304.552C394.248 309.571 404.994 310.199 415.268 308.086C424.435 306.202 484.266 305.772 497.322 290.465C512.375 272.814 506.714 245.17 497.159 229.49Z" fill="url(#paint5_linear_0_6)" />
                <path id="Vector_58" opacity="0.31" d="M352.301 219.86L254.128 259.624C254.128 259.624 261.191 280.417 292.326 285.475L292.294 285.478C299.224 286.24 305.332 292.294 305.033 298.135H312.819C312.819 298.135 314.795 287.496 327.207 284.562L327.22 284.546C375.893 274.748 352.301 219.86 352.301 219.86Z" fill="#874732" />
                <g id="cat-ears">
                    <g id="Group_14">
                        <g id="Group_15">
                            <path id="Vector_59" d="M254.995 229.02C254.995 229.02 240.765 204.815 241.401 181.955C241.478 179.141 244.158 177.06 247.046 177.599C253.98 178.893 266.611 183.012 277.816 196.113L254.995 229.02Z" fill="url(#paint6_linear_0_6)" />
                            <path id="Vector_60" opacity="0.5" d="M256.726 216.813C256.726 216.813 248.258 202.409 248.636 188.807C248.683 187.132 250.278 185.893 251.995 186.214C256.121 186.983 263.638 189.434 270.304 197.23L256.726 216.813Z" fill="#FF7C4F" />
                        </g>
                    </g>
                    <g id="Group_16">
                        <g id="Group_17">
                            <path id="Vector_61" d="M334.606 209.696C334.606 209.696 335.055 181.926 323.106 162.121C321.634 159.683 318.243 159.077 315.972 160.867C310.522 165.167 301.47 174.548 298.149 191.178L334.606 209.696Z" fill="url(#paint7_linear_0_6)" />
                            <path id="Vector_62" opacity="0.5" d="M327.003 199.753C327.003 199.753 327.27 183.23 320.16 171.445C319.285 169.995 317.265 169.633 315.916 170.7C312.673 173.259 307.287 178.841 305.311 188.735L327.003 199.753Z" fill="#FF7C4F" />
                        </g>
                    </g>
                </g>
                <path id="cat-head" d="M286.267 187.178C257.531 194.153 242.091 227.731 252.523 255.303C262.956 282.875 292.653 281.883 310.246 277.612C327.84 273.342 354.441 260.668 349.872 231.671C345.306 202.676 315.003 180.203 286.267 187.178Z" fill="url(#paint8_linear_0_6)" />
                <path id="cat-head_2" d="M318.766 243.593C320.52 250.21 313.017 251.526 303.915 253.734C294.814 255.943 287.562 258.208 285.808 251.594C284.055 244.977 290.011 237.823 299.112 235.615C308.212 233.405 317.013 236.977 318.766 243.593Z" fill="#FFFBF7" />
                <g id="cat-head_3">
                    <path id="Vector_63" d="M320.523 217.228C314.609 216.882 308.928 219.396 305.4 223.954C303.772 226.055 306.909 228.873 308.559 226.744C311.489 222.958 315.715 221.052 320.642 221.339C323.408 221.502 323.264 217.389 320.523 217.228Z" fill="#874732" />
                    <path id="Vector_64" d="M272.381 228.915C277.407 225.913 283.652 225.532 289.026 227.929C291.505 229.033 290.151 232.942 287.639 231.822C283.176 229.831 278.512 230.082 274.326 232.581C271.975 233.986 270.051 230.306 272.381 228.915Z" fill="#874732" />
                </g>
                <g id="cat-head_4">
                    <path id="Vector_65" d="M302.078 246.803C297.23 247.98 293.204 245.5 292.928 242.566C292.653 239.631 296.198 238.953 299.766 238.086C303.334 237.22 306.79 236.199 308.009 238.904C309.229 241.612 306.926 245.628 302.078 246.803Z" fill="#874732" />
                </g>
                <g id="cat-head_5" opacity="0.55">
                    <path id="Vector_66" d="M285.016 243.791C286.399 249.01 283.099 254.317 277.643 255.641C272.188 256.965 266.641 253.807 265.257 248.587C263.874 243.367 267.174 238.06 272.63 236.736C278.086 235.413 283.632 238.571 285.016 243.791Z" fill="#FF915E" />
                    <path id="Vector_67" d="M335.334 231.577C336.718 236.797 333.417 242.103 327.962 243.427C322.506 244.751 316.96 241.593 315.576 236.373C314.193 231.153 317.493 225.846 322.949 224.523C328.404 223.199 333.949 226.357 335.334 231.577Z" fill="#FF915E" />
                </g>
                <g id="cat-head_6">
                    <g id="Group_18">
                        <g id="Group_19">
                            <path id="Vector_68" d="M258.299 251.767C258.062 251.824 257.804 251.793 257.581 251.654C257.163 251.391 257.044 250.856 257.318 250.453C261.413 244.44 269.504 244.475 269.851 244.481C270.35 244.484 270.751 244.879 270.744 245.358C270.741 245.835 270.356 246.236 269.828 246.212C269.76 246.214 262.379 246.2 258.838 251.401C258.709 251.592 258.512 251.717 258.299 251.767Z" fill="#874732" />
                        </g>
                        <g id="Group_20">
                            <path id="Vector_69" d="M264.82 258.796C264.645 258.839 264.462 258.834 264.278 258.768C263.811 258.602 263.572 258.103 263.748 257.651C265.687 252.684 271.393 249.913 271.636 249.797C272.11 249.573 272.632 249.761 272.851 250.187C273.076 250.614 272.893 251.135 272.443 251.35C272.391 251.374 267.132 253.938 265.446 258.261C265.337 258.539 265.099 258.728 264.82 258.796Z" fill="#874732" />
                        </g>
                    </g>
                    <g id="Group_21">
                        <g id="Group_22">
                            <path id="Vector_70" d="M343.034 231.199C342.823 231.251 342.588 231.232 342.38 231.123C336.654 228.148 330.199 231.54 330.133 231.575C329.712 231.825 329.147 231.664 328.901 231.242C328.657 230.825 328.812 230.294 329.25 230.063C329.55 229.899 336.657 226.188 343.242 229.597C343.683 229.826 343.846 230.351 343.609 230.772C343.482 230.995 343.272 231.141 343.034 231.199Z" fill="#874732" />
                        </g>
                        <g id="Group_23">
                            <path id="Vector_71" d="M340.803 240.351C340.524 240.419 340.22 240.361 339.986 240.163C336.355 237.135 330.45 237.28 330.392 237.283C329.89 237.299 329.471 236.924 329.455 236.447C329.435 235.967 329.796 235.558 330.328 235.55C330.599 235.541 336.999 235.373 341.175 238.86C341.555 239.173 341.593 239.719 341.261 240.081C341.137 240.222 340.978 240.31 340.803 240.351Z" fill="#874732" />
                        </g>
                    </g>
                </g>
                <g id="cat-head_7" opacity="0.31">
                    <path id="Vector_72" d="M306.432 261.054C302.518 262.003 298.891 261.307 298.661 261.259C298.135 261.152 297.793 260.656 297.903 260.149C298.012 259.638 298.546 259.316 299.063 259.42C299.138 259.436 306.599 260.85 310.941 256.581C311.324 256.208 311.944 256.197 312.328 256.562C312.718 256.926 312.725 257.523 312.348 257.889C310.595 259.611 308.473 260.559 306.432 261.054Z" fill="#874732" />
                </g>
                <g id="cat-stomach_2" opacity="0.5">
                    <path id="Vector_73" d="M396.895 203.442C400.574 210.095 405.07 219.876 406.782 230.395C409.19 245.178 419.965 241.765 423.117 236.894C425.573 233.099 427.769 212.065 423.983 198.417C413.732 198.868 404.37 200.621 397.357 203.27C397.205 203.325 397.047 203.385 396.895 203.442Z" fill="#FF7C4F" />
                    <path id="Vector_74" d="M429.481 198.302C431.41 204.796 433.082 212.775 433.063 220.943C433.025 235.902 444.226 234.145 448.135 229.806C450.539 227.137 454.546 213.816 455.392 201.412C446.791 199.265 437.93 198.335 429.481 198.302Z" fill="#FF7C4F" />
                    <path id="Vector_75" d="M381.486 243.873C387.21 257.794 396.948 252.213 398.911 246.8C400.56 242.255 397.342 218.227 389.299 206.318C380.564 209.623 371.218 213.146 362.546 216.268C367.718 221.59 376.504 231.76 381.486 243.873Z" fill="#FF7C4F" />
                </g>
                <path id="cat-stomach_3" opacity="0.31" d="M400.359 298.133C400.359 298.133 420.507 290.346 424.351 282.949C426.984 277.884 428.114 253.741 442.435 247.571C442.435 247.571 424.433 247.571 411.458 271.209C401.691 289.002 380.176 297.351 370.85 298.135C383.858 298.133 400.359 298.133 400.359 298.133Z" fill="#874732" />
                <g id="cat-stomach_4" opacity="0.31">
                    <path id="Vector_76" d="M287 293.123C286.461 293.123 286.02 293.542 286.02 294.062C286.02 294.58 286.457 294.997 287 295.002C287.217 295.002 291.86 295.095 292.58 298.133C293.245 298.133 293.901 298.133 294.578 298.133C294.015 294.225 289.491 293.123 287 293.123Z" fill="#874732" />
                    <path id="Vector_77" d="M301.759 298.121C301.66 291.689 293.828 289.201 293.495 289.098C292.988 288.948 292.428 289.212 292.26 289.706C292.094 290.198 292.378 290.727 292.895 290.888C292.961 290.907 299.695 293.041 299.791 298.133C300.435 298.133 301.098 298.133 301.751 298.133C301.754 298.128 301.759 298.125 301.759 298.121Z" fill="#874732" />
                </g>
                <g id="cat-stomach_5" opacity="0.31">
                    <path id="Vector_78" d="M317.762 298.133C318.837 293.46 323.129 291.646 323.337 291.564C323.836 291.359 324.065 290.809 323.855 290.332C323.644 289.858 323.061 289.627 322.574 289.833C322.316 289.934 316.929 292.22 315.799 298.133C316.446 298.133 317.108 298.133 317.762 298.133Z" fill="#874732" />
                    <path id="Vector_79" d="M327.26 294.88C327.732 294.623 327.896 294.051 327.628 293.599C327.364 293.152 326.765 292.994 326.297 293.243C326.139 293.326 323.314 294.888 322.11 298.133C322.822 298.133 323.547 298.133 324.265 298.133C325.313 296.007 327.146 294.94 327.26 294.88Z" fill="#874732" />
                </g>
                <g id="cat-stomach_6" opacity="0.31">
                    <path id="Vector_80" d="M406.921 302.729C406.673 302.816 401.804 304.598 399.063 308.691C399.753 308.826 400.448 308.952 401.204 309.031C403.671 305.938 407.54 304.511 407.591 304.494C408.098 304.317 408.362 303.778 408.174 303.29C407.986 302.802 407.411 302.563 406.921 302.729Z" fill="#874732" />
                    <path id="Vector_81" d="M405.095 300.967C404.99 300.462 404.492 300.138 403.94 300.23C403.636 300.288 397.616 301.517 392.681 305.141C392.996 305.68 393.404 306.167 393.931 306.592C398.519 303.257 404.257 302.083 404.325 302.072C404.857 301.969 405.202 301.473 405.095 300.967Z" fill="#874732" />
                </g>
            </g>
        </g>
        <defs>
            <radialGradient id="paint0_radial_0_6" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(331.554 298.118) scale(324.466 15.1958)">
                <stop stop-color="#E8E8D0" />
                <stop offset="1" stop-color="white" />
            </radialGradient>
            <linearGradient id="paint1_linear_0_6" x1="159.901" y1="211.319" x2="152.372" y2="256.461" gradientUnits="userSpaceOnUse">
                <stop stop-color="#A1D685" />
                <stop offset="1" stop-color="#71C782" />
            </linearGradient>
            <linearGradient id="paint2_linear_0_6" x1="132.922" y1="215.233" x2="136.578" y2="255.155" gradientUnits="userSpaceOnUse">
                <stop offset="0.1134" stop-color="#A1D685" />
                <stop offset="1" stop-color="#71C782" />
            </linearGradient>
            <linearGradient id="paint3_linear_0_6" x1="120.236" y1="260.692" x2="168.967" y2="260.692" gradientUnits="userSpaceOnUse">
                <stop stop-color="#805E41" />
                <stop offset="1" stop-color="#A87C56" />
            </linearGradient>
            <linearGradient id="paint4_linear_0_6" x1="487.498" y1="360.351" x2="465.544" y2="279.499" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFDA5E" />
                <stop offset="1" stop-color="#E89540" />
            </linearGradient>
            <linearGradient id="paint5_linear_0_6" x1="372.46" y1="259.624" x2="372.46" y2="356.405" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFDA5E" />
                <stop offset="1" stop-color="#E89540" />
            </linearGradient>
            <linearGradient id="paint6_linear_0_6" x1="256.048" y1="192.657" x2="289.224" y2="262.575" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFDA5E" />
                <stop offset="1" stop-color="#E89540" />
            </linearGradient>
            <linearGradient id="paint7_linear_0_6" x1="315.563" y1="178.21" x2="318.244" y2="254.908" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFDA5E" />
                <stop offset="1" stop-color="#E89540" />
            </linearGradient>
            <linearGradient id="paint8_linear_0_6" x1="294.955" y1="219.938" x2="328.564" y2="358.401" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFDA5E" />
                <stop offset="1" stop-color="#E89540" />
            </linearGradient>
        </defs>
    </svg>
    <h1>Page Not Found</h1>
    <p class="message-text">
        The page you are looking for might have been removed or is temporarily unavailable.
    </p>

    <button class="btn btn-outline-success" onclick="goBack()" >Go Back</button>
    <script>
        function goBack() {
            if (document.referrer) {
                window.history.back();
            } else {
                window.location.href = '/';
            }
        }
    </script>
</body>
</html>
